@import "tailwindcss";


/* ========================
   Fish Animation
======================== */

@keyframes swim {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(15px) translateY(-5px);
  }
  50% {
    transform: translateX(30px) translateY(0);
  }
  75% {
    transform: translateX(15px) translateY(5px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

/* class to apply swim animation */
.animate-swim {
  animation: swim 6s ease-in-out infinite;
}
